<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Hampton U News - Content Management</title>

    <meta http-equiv="X-UA-Compatible"  content="IE=edge,chrome=1">
    <meta name="viewport"               content="width=device-width, initial-scale=1.0">
    <meta name="description"            content="Hampton U News - Content Management">
    <meta name="author"                 content="@toledoalbert">

    <!-- build:css app/styles/app.min.css -->
    <link rel="stylesheet" href="app/styles/bootstrap.min.css">
    <link rel="stylesheet" href="app/styles/app.css">

    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="components/html5shiv-dist/html5shiv.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <!-- waiting for ui-router to support angular-1.2, hence some view animations are currently gracefully degrading -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-animate.js"></script>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <noscript>
        Please enable Javascript to experience this site :)
    </noscript>

<!--       <div ng-include src="'app/views/header.html'"></div>
      <div view-loading ng-show="isViewLoading"></div>
      <div ui-view class="first-load"></div> -->

    <div class="container" ng-controller="MainController">
      <div class="row">
        <div id="left-panel" class="col-sm-3">
          <div class="row" id="left-panel-header">
            <h3 class="col-sm-6">Articles</h3>
            <h2 class="col-sm-6" ng-click="newPost()">+</h2>
          </div>
          <ul class="articles">
            <article-item ng-repeat="article in articles" load-articles="loadArticles" edit-article="editThis" article="article"></article-item>
          </ul>
        </div>

        <div id="right-panel" class="col-sm-offset-1 col-sm-8">
          <!-- <form action="/file-upload"
          class="dropzone"
          id="my-awesome-dropzone">
          </form> -->
          <input type="text" class="sm-col-12" placeholder="Article Title" id="article-title" ng-model="editableTitle">
          <textarea class="sm-col-12" id="article-content" placeholder="Enter article content here..." ng-model="editableContent"></textarea>
          <button id="save" ng-click="saveEdited()">Save</button>
          <button id="publish" ng-click="publishEdited()">Publish</button>
        </div>
      </div>
    </div>

    <script src="http://www.parsecdn.com/js/parse-1.2.15.js"></script>
    
    <!-- build:js app/scripts/all.min.js -->
    <script src="app/components/parse-angular.min.js"></script>
    <script src="app/components/angular-ui-router.min.js"></script>
    <script src="app/components/bootstrap.min.js"></script>
    <script src="app/components/dropzone.js"></script>

    <!-- Data Models -->
    <script src="app/services/ParseServices.js"></script>
    <script src="app/data/Articles.js"></script>

    <!-- App core & templates -->
    <script src="app/app.js"></script>
    
    <!-- Directives -->
    <script src="app/directives/article-item/article-item.js"></script>
    
    <!-- Controllers -->
    <script src="app/controllers/main.js"></script>

    <!-- endbuild -->

    <script type="text/javascript">
      // manual bootstrap
      angular.element(document).ready(function() {
        angular.bootstrap(document, ['app']);
      });

    </script>

  </body>
</html>